.navigation {
    width: 50%;
    margin-left: auto;
}
.Navigation-list {
    list-style: none;
    display: flex;
    padding-top: 26px;
}
.navLink {
    margin-right: 3rem;
    font-family: 'Lobster', cursive;
    font-family: 'Bree Serif', serif;
}
.navLink {
    text-decoration: none;
    color: #8e8d8d;
    font-size: 1.5rem;
}
.navLink:hover {
    border-bottom: 3px solid #8e8d8d;
    text-decoration: none;
    color: #8e8d8d;
}

@media screen and (max-width: 320px) {
    .navigation {
        width: 100%;
        display: block;
    }
    .Navigation-list {
        min-width: 100%;
        overflow: hidden;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: left;
    }
    /*.Navigation-item:first-child {*/
        /*margin-left: -40px;*/
    /*}*/
    .Navigation-item:nth-child(2) {
        margin-top: 2rem;
    }
    .Navigation-item:last-child {
        margin-top: 2rem;
    }
    .navLink {
        font-family: Arial;
        font-size: 1rem;
        margin-right: 0;    
    }
}